<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="checkForToday" value="false" />
    <add key="showVolumes" value="false" />

    <!-- 
        At what pressure line do you believe will still be "squeezing" 
        the short sellers?
-->
    <add key="pressureLine" value="70" />

  </appSettings>
</configuration>